@use './reset.css';

@mixin sm {
	@media (min-width: 768px) {
		@content;
	}
}

@mixin md {
	@media (min-width: 1024px) {
		@content;
	}
}

@mixin lg {
	@media (min-width: 1200px) {
		@content;
	}
}

body {
	padding-top: 8rem;
}

.topbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 4rem;
	width: 100%;
	z-index: 8;
	background: #fff;
	border-bottom: 1px solid #ff6b6b;
	padding-left: 2rem;
	display: flex;
	align-items: center;
	display: flex;
	justify-content: space-between;

	h1 {
		font-weight: 600;
		font-size: 2rem;
		margin: 0;

		span {
			color: #ff6b6b;
		}
	}

	input[type='number'] {
		width: 3.5em;
	}
}

.example-controls-wrap {
	position: absolute;
	top: 0;
	right: 0;
}

.toggle-controls {
	display: block;
	background: #ff6b6b;
	color: #000;
	height: 4rem;
	width: 100%;
	border: none;
	cursor: pointer;
}

.example-controls {
	// position: absolute;
	// top: calc(100% + 1px);
	// right: 0;
	background: #fff;
	z-index: 9;
	font-size: 13px;
	border: 1px solid #cfcfcf;
	display: grid;

	&[aria-hidden='true'] {
		opacity: 0;
		visibility: hidden;
	}

	fieldset {
		border: none;
		padding: 0;
		margin: 0;
	}
	legend {
		display: block;
		float: left;
		clear: both;
		position: relative;
		top: 0;
		margin: 0;
		padding: 0;
	}

	label:has([disabled]) {
		opacity: 0.5;
	}

	input[type='number'],
	select {
		font-size: 12px;
		padding: 2px 3px;
		border: 1px solid #121212;
		border-radius: 0px;
	}

	.checkbox-group,
	.input-wrap {
		padding: 2px 5px;
		border-bottom: 1px solid #aeaaae;
		&:last-child {
			border-bottom: none;
		}
	}

	.num-wrap,
	.select-wrap {
		display: flex;
		align-items: baseline;
		column-gap: 3px;
		line-height: 1.2;
		justify-content: space-between;
		input,
		select {
			flex: 0 0 58px;
		}
	}

	.checkbox-group {
		display: grid;
		grid-template-columns: auto auto;
		column-gap: 3px;
		legend {
			grid-column: 1 / -1;
		}
	}

	.checkbox-wrap {
		display: flex;
		align-items: center;
		column-gap: 3px;
	}
}

.notification {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	background: #1b1616;
	color: #fff;
	text-align: center;
	z-index: 999;
}

.palette-examples {
	display: grid;
	grid-template-columns: 100%;
	column-gap: 1.5rem;
	row-gap: 10rem;
	padding-bottom: 5rem;

	.palette-example {
		display: grid;
		grid-template-columns: 1fr auto;
		> * {
			grid-column: 1 / 3;
		}

		h2 {
			grid-column: 1;
			align-self: end;
			font-size: 1rem;
			font-weight: 400;
			margin: 0 3% 0.5rem;
		}

		.palette-side {
			grid-column: 2;
			margin-right: 1rem;
			margin-bottom: 0.3rem;
			text-align: right;
		}
	}

	.palette-example-colors {
		width: 100%;
		height: 130px;
		display: flex;

		> div {
			flex: 1 0 auto;
		}
	}

	.palette-example-pairs,
	.palette-example-pairs-2 {
		display: grid;
		grid-template-columns: repeat(auto-fill, 30%);
		justify-content: space-between;
		// column-gap: 1rem;
		margin: 0 3%;
		row-gap: 1rem;
		margin-top: 1rem;
	}
	.palette-example-pair {
		display: flex;
		height: 50px;
		// max-width: 130px;
		> div {
			flex: 1 0 auto;
		}
	}

	.palette-example-variants {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
		row-gap: 1rem;
		margin: 0 3%;
		margin-top: 1rem;
	}

	.palette-example-variant {
		// height: 80px;
		aspect-ratio: 5;
		display: flex;
		padding: 3% 3%;
		column-gap: 3%;
		position: relative;
		> div {
			border-width: 3px;
			border-style: solid;
			border-color: transparent;
			flex: 1 0 auto;
		}
	}

	@media (min-width: 768px) {
		// grid-template-columns: repeat(auto-fill, 350px);
		// grid-template-columns: repeat(auto-fill, Min(45%, 480px));
		// justify-content: center;
		// column-gap: 1rem;
	}

	@media (min-width: 1024px) {
		// column-gap: 3rem
		.palette-example-colors {
			height: 150px;
		}
		.palette-example-variants {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	@media (min-width: 1280px) {
		.palette-example-colors {
			height: 180px;
		}
	}
}

.palette-examples:not(.show-pairs) {
	.palette-example-pairs,
	.palette-example-pairs-2 {
		display: none;
	}
}

.palette-examples:not(.show-variants) .palette-example-variants {
	display: none;
}

.palette-examples.hide-stroke .palette-example-variant {
	> div {
		border-color: transparent !important;
	}
}

.palette-examples:not(.show-palettes) {
	row-gap: 3rem;
	.palette-example {
		.palette-example-colors,
		.coolors-link {
			display: none;
		}
	}
}

.palette-examples.show-contexts {
	.palette-example:not(:has(.palette-example-variant)) {
		display: none;
	}
}

.palette-example-variant .lightness {
	position: absolute;
	top: 95%;
}

.palette-examples.dark-mode {
	background: #000;
}
